@{
    ViewData["Title"] = "Home";
}

<div class="centrado">
    <img src="~/images/preguntados_logo.webp" alt="Logo"/>
    <a class="botonInicio" href='@Url.Action("ConfigurarJuego")'><button>¡Bienvenido a PreguntadORT!</button></a>
</div>